{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>
          {% block title %}
          Records
          {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    </head>
    <body>
      <header>
      </header>
      {% block content %}{% endblock content %}
      {% block footer %}{% endblock footer %}
    </body>
</html>
